body{
    padding: 0;
    margin: 0;
    background: rgb(252, 252, 252);
}
.btn{
    margin-top: 10px;

}
.container{
    margin:65px auto;
    width: 35%;
}
@media(max-width: 952px){
    .container{
        width: 60%;
    }
}
    @media(max-width: 475px){
    .container{
        width: 80%;
    }
}

.card-content img{
    display: block;
    margin:auto;
    width: 80%;
    height: 10%;
}

.nav-wrapper img{
    width:20%;
    height: 95%;
}

.nav-wrapper ul{
    z-index: 2;
}

.tabla-clientes{
    border: 1px solid black;
    border-spacing: 0;
    padding: 0;
}

.tabla-clientes thead {
    background-color: rgb(235, 232, 232);
    overflow:auto;
}

.tabla-caja{
    border: 1px solid black;
    border-spacing: 0;
    padding: 0;
}

.tabla-caja thead {
    background-color: rgb(235, 232, 232);
    overflow:auto;
}


.tabla-clientes tbody :hover{
    background-color: #2196f3;
    cursor: pointer;
    color:white;

}

.modalCliente{
    width:60%;
    height: 61%;
}

.tab .active {
    background-color: black !important;
    color:white;
}

.modalNuevoItem{
    height: 300px !important;
}

.eliminar{
    color:rgba(255, 0, 0, 0.603) !important;
}

.eliminar :hover{
    color:red !important;
    cursor: pointer !important;
    font-size: 35px !important;
}

.export{
    color:rgba(0, 0, 255, 0.589) !important;
}

.export :hover{
    color:blue !important;
    cursor: pointer !important;
    font-size: 35px !important;
}

.send{
    color:rgba(0, 255, 76, 0.589) !important;
}

.send :hover{
    color:rgb(0,255,76) !important;
    cursor: pointer !important;
    font-size: 35px !important;
}

.filtros{
    text-align: center;
    padding:10px;
}

#logo_menu{
    width:130px;
    height: 60px;
}

.violeta{
    background-color: #b74148;
}

.profile-card-3:hover{
    cursor: pointer;
    box-shadow: 0 0 30px rgb(33, 33, 33); 
}

.profile-card-3 {
    transition: box-shadow .3s;
    border-radius:10px;
    margin:20px;
    font-family: 'Open Sans', Arial, sans-serif;
    position: relative;
    float: left;
    overflow: hidden;
    width: 30%;
    text-align: center;
    height:250px;
    border:none;
  }
  .profile-card-3 .background-block {
      float: left;
      width: 100%;
      height: 200px;
      overflow: hidden;
  }
  .profile-card-3 .background-block .background {
    width:100%;
    vertical-align: top;
    opacity: 0.9;
    -webkit-filter: blur(0.5px);
    filter: blur(0.5px);
     /*-webkit-transform: scale(1.8);*/
    /*transform: scale(2.8);*/
    margin-top:100px;
  }
  .profile-card-3 .background-block .background2 {
    width:100%;
    vertical-align: top;
    opacity: 0.9;
    -webkit-filter: blur(0.5px);
    filter: blur(0.5px);
     /*-webkit-transform: scale(1.8);*/
    /*transform: scale(2.8);*/
  }
  .profile-card-3 .card-content {
    width: 100%;
    padding: 15px 25px;
    color:#232323;
    float:left;
    background:#efefef;
    height:50%;
    border-radius:0 0 5px 5px;
    position: relative;
    
  }
  .profile-card-3 .card-content::before {
      content: '';
      background: #efefef;
      width: 120%;
      height: 100%;
      left: 11px;
      bottom: 51px;
      position: absolute;
      z-index: -1;
      transform: rotate(-13deg);
  }
  .profile-card-3 .profile {
    border-radius: 50%;
    position: absolute;
    bottom: 50%;
    left: 50%;
    width:100px;
    height:100px;
    opacity: 1;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
    border: 2px solid rgba(255, 255, 255, 1);
    -webkit-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
    
  }
  .profile-card-3 h2 {
    margin: 0 0 5px;
    font-weight: 600;
    font-size:20px;
  }
  .profile-card-3 h2 small {
    display: block;
    font-size: 15px;
    margin-top:10px;
  }
  .profile-card-3 i {
    display: inline-block;
      font-size: 16px;
      color: #232323;
      text-align: center;
      border: 1px solid #232323;
      width: 30px;
      height: 30px;
      line-height: 30px;
      border-radius: 50%;
      margin:0 5px;
  }
  .profile-card-3 .icon-block{
      float:left;
      width:100%;
      margin-top:15px;
  }
  .profile-card-3 .icon-block a{
      text-decoration:none;
  }
  .profile-card-3 i:hover {
    background-color:#232323;
    color:#fff;
    text-decoration:none;
  }

  .user-view img{
      width:80%;
  }


